<% content_for :title, (_("Results for %{search_term}") %{search_term: @q}) %>
<h1><%= (_("Results for '%{search_term}'") %{search_term: @q}) %></h1>
<% if @tags.any? %>
<div class="row my-4">
  <div class="col">
    <h2><%= (_("Tags with '%{search_term}'") %{search_term: @q}) %></h2>
    <p class="cf-tags">
      <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </p>
  </div>
</div>
<% end %>

<%= render 'stories/types_and_lists', story_types_and_lists: @story_types_and_lists %>
<% if @listings.any? %>
  <div class="row">
    <div class="col">
      <h3 class="mb-4"><%= _('Listings') %></h3>
      <%= render @listings %>
    </div>
  </div>
<% end %>
