<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @membership.group %>
</p>

<p>
  <strong>Commoner:</strong>
  <%= @membership.commoner %>
</p>

<p>
  <strong>Role:</strong>
  <%= @membership.role %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
