<%= content_for :title, s_('Title|Edit listing') %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <h2><%= s_('Title|Edit listing') %></h2>
    <%= simple_form_for(@listing) do |f| %>
      <%= f.error_notification %>
      <%= render 'fields', f: f %>
      <%= f.button :submit, s_('Button|Edit listing'), class: 'btn btn-cf btn-block' %>
    <% end %>
    <p class="text-right">
      <small>
        <%= link_to(fa_icon('trash', text: _('Delete this listing')),
        listing_path(@listing),
        method: :delete,
        class: 'text-danger',
          data: {confirm: _('Are you sure?')}) %>
      </small>
    </p>
  </div>
</div>
