<% content_for :title, @listing.title %>
<div class="row justify-content-center">
  <div class="listing-container">
    <%= content_for :open_graph_tags do %>
    <!-- OpenGraph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%= @listing.title %> | Commonfare' />
    <meta property="og:description" content='<%= og_description_for(@listing) %>' />
    <meta property="og:image" content='<%= listing_card_image_url(@listing) %>' />
    <meta property="og:image:width" content="318">
    <meta property="og:image:height" content="150">
    <meta property="og:url" content='<%= request.url %>' />
    <!-- Twitter tags -->
    <meta name="twitter:card" content="<%= @images.any? ? 'summary_large_image' : 'summary' %>" />
    <% end %>

    <div class="row listing-header pt-5 pb-3 bg-white">
      <div class="col">
        <div class="row">
          <% if can? :edit, @listing %>
          <%= link_to edit_listing_path(@listing), class: 'mdc-fab mdc-fab--mini material-icons card-fab--absolute', 'aria-label': 'Favorite', data: { 'mdc-auto-init': 'MDCRipple' } do %>
          <span class="mdc-fab__icon">
            <%= fa_icon 'pencil lg' %>
          </span>
          <% end %>
          <% end %>
          <div class="col-auto">
            <div class="listing-title">
              <h2>
                <%= @listing.title %>
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="listing-price">
              <h4>
                <%= listing_price(@listing) %>
              </h4>
            </div>
          </div>
        </div>

        <% if @listing.tags.any? %>
          <%= render 'shared/tags', tags: @listing.tags %>
        <% end %>
      </div>
    </div>

    <div class="row listing-content-wrap">
      <div class="col-lg-3 order-12 order-lg-1">
        <div class="listing-info">
          <div class="row my-3">
            <div class="col">
              <div class="listing-author">
                <!-- TODO: Link to commoner
                  previous:
                  (_('by %{commoner_name}') %{commoner_name: link_to(@listing.commoner.name, @listing.commoner)})
                 -->
                <%= fa_icon('user fw', text: @listing.commoner.name).html_safe %>
              </div>
              <div class="listing-date">
                <%= fa_icon('clock-o fw', text: (_('Added on %{date}') %{date: l(@listing.created_at.to_date, format: :long)})) %>
              </div>
              <div class="listing-place">
                <%= fa_icon('map-marker fw', text: @listing.place) %>
              </div>
              <div class="listing-share">
                <%= fa_icon('share-alt', text: link_to(s_("Share"), '#', data: { toggle: "modal", target: "#shareModal" })) %>
              </div>
              <div class="listing-comments">
                <%= link_to '#comments-anchor', class: 'listing-comments-link' do %>
                  <%= fa_icon 'comment-o', text: "#{@comments.count} #{n_('Comment', 'Comments', @comments.count)}" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 order-1 order-lg-12 bg-white py-3">
        <div class="row">
          <div class="col">
            <div class="listing-description">
              <%= detect_links_in(@listing.description) %>
            </div>
          </div>
        </div>
        <% if @images.any? %>
          <div class="row justify-content-center">
            <div class="col" id="listing-cover-image-link">
              <%= link_to @images.first.picture.url do %>
              <%= image_tag(@images.first.picture.url, class: 'listing-cover-image') %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <div id="blueimp-gallery" class="blueimp-gallery">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close">×</a>
              <ol class="indicator"></ol>
            </div>
            <div id="blueimp-gallery-links" class="my-3">
              <% @images.each do |image| %>
                <%= link_to image.picture.url do %>
                  <%= image_tag image.picture.card_square.url %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col-md-4">
        <% if can_get_in_touch_for_listing?(@listing) %>
          <%= link_to(_('Get in touch'), conversation_path_for_listing(@listing), class: 'btn btn-cf btn-lg btn-block') %>
        <% end %>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-9 ml-auto">
        <%= render('comments/new', commentable: @listing, comment: @comment) if user_signed_in? %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 ml-auto">
        <h3 id="comments-anchor" class="red-title text-left"><%= @comments.count %> <%= n_('Comment', 'Comments', @comments.count) %></h3>
        <%= render 'comments/list', comments: @comments %>
      </div>
    </div>
  </div>
</div>

<%= render 'listings/share_modal' %>

<% content_for :scripts do %>
  <script type="text/javascript">
  document.getElementById('blueimp-gallery-links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
  document.getElementById('listing-cover-image-link').onclick = function (event) {
    event.preventDefault();
    $('#blueimp-gallery-links a:first-child').click();
  };
  </script>
<% end %>
