<%= content_for :title, s_('Title|Start a discussion') %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9 pt-4 pb-3 bg-white">
    <h3><%= s_('Title|New discussion in %{group_name}') %{group_name: @group.name} %></h3>
    <%= simple_form_for([@group, @discussion]) do |f| %>
      <%= f.error_notification %>
      <%= f.association :group, as: :hidden %>
      <%= f.input :title, label: _('Title'), required: false, placeholder: _("What's up?") %>
      <% @discussion.messages.each do |message| %>
        <%= field_set_tag do %>
          <%= f.simple_fields_for :messages, message do |msg| %>
            <%= msg.association :commoner, as: :hidden %>
            <%= msg.input :body, as: :text, required: false, label: _('Enter the first message') %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.button :submit, s_('Button|Start discussion'), class: 'btn btn-cf btn-block' %>
    <% end %>
  </div>
</div>
