<h3><%= @discussion.title %></h3>
<small><%= (_('in %{group_name}') %{group_name: link_to(@group.name, @group)}).html_safe %></small>
<hr>
<% @messages.each do |message| %>
  <div>
    <small><%= message.author.name %></small>
    <p><%= message.body %></p>
    <small><%= link_to(_('Delete'), group_discussion_message_path(@group, @discussion, message), method: :delete, data: { confirm: _('Are you sure?') }) if can? :destroy, message %></small>
  </div>
<% end %>
<%= render 'messages/form', message: (@new_message) %>
