<% content_for :title, @discussion.title %>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 bg-white">
    <div class="discussion-back mb-2">
      <%= link_to((_("%{icon} Back to %{group_name}") %{group_name: @group.name, icon: fa_icon('chevron-left fw')}).html_safe, group_path(@group), class: 'btn btn-sm btn-outline-cf') %>
    </div>
    <div class="discussion-header">
      <h3 class="mb-0"><%= @discussion.title %></h3>
    </div>
    <div class="discussion-container d-flex flex-column justify-content-end">
      <div id="discussion-messages">
        <% @messages.each do |message| %>
        <div class="discussion-message d-flex flex-column <%= message.author == current_user.meta ? 'align-items-end' : 'align-items-start' %>">
          <div class="message <%= message.author == current_user.meta ? 'current-user-message' : 'other-user-message' %>">
            <div class="message-author <%= message.author == current_user.meta ? 'text-right' : 'text-left' %>"><%= message.author.name %></div>
            <div class="message-body">
              <%= detect_links_in(message.body) %>
            </div>
            <div class="message-delete <%= message.author == current_user.meta ? 'text-right' : 'text-left' %>"><%= link_to(_(fa_icon 'trash'), group_discussion_message_path(@group, @discussion, message), method: :delete, data: { confirm: _('Are you sure?') }) if can? :destroy, message %></div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="discussion-message-form">
        <%= render 'messages/form', message: (@new_message) %>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    var element =  document.getElementById("discussion-messages");
    element.scrollTop = element.scrollHeight
  </script>
<% end %>
