<% if comments.empty? %>
  <p class="text-muted"><%= _('There are no comments for this Story') %></p>
<% end %>
<% comments.each do |comment| %>
<div class="media comment-container">
  <% if comment.anonymous? %>
    <%= image_tag 'anonymous_avatar.png', class: 'comment-avatar' %>
  <% else %>
    <%= link_to commoner_path(comment.author) do %>
      <%= image_tag comment.author.avatar.card, class: 'comment-avatar' %>
    <% end %>
  <% end %>
  <div class="media-body ml-2">
    <% if can? :edit, comment %>
    <div class="dropdown d-inline float-right">
      <%= link_to(fa_icon('ellipsis-h lg'), '#', id: 'commentDropdownMenuLink', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } ) %>

      <div class="dropdown-menu" aria-labelledby="commentDropdownMenuLink">
        <%= link_to _('Edit comment'), edit_comment_path(comment), class: 'dropdown-item' %>
      </div>
    </div>
    <% end %>
    <p class="comment-author"><%= author_for(comment) %></p>
    <small>
      <%= l(comment.created_at, format: :comment_timestamp) %>
    </small>
    <p class="comment-body">
      <%= comment.body %>
    </p>
  </div>
</div>
<% end %>
