<%= content_for :title, s_('Title|Notifications') %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10">
    <div class="row conversation-header pt-5 pb-2 mb-3 bg-white">
      <div class="col">
        <h1>
          <%= s_('Title|Notifications') %>
          <%= link_to open_all_notifications_path_for(@target, @index_options), class: "ml-2 badge
          #{@target.has_unopened_notifications?(@index_options) ? 'badge-cf-secondary' : 'badge-secondary'}", method: :post, remote: true do %>
          <%= @target.unopened_notification_count(@index_options) %>
          <% end %>
        </h1>
      </div>
    </div>

    <div class="notification_wrapper">
      <div class="notification_header">
      </div>
      <div class="notifications bg-white p-2">
        <%= content_tag(:h4, _('No notifications'), class: 'text-muted') if @target.notifications.empty? %>
        <% if @index_options[:with_group_members] %>
        <%= render_notification @notifications, fallback: :default_without_grouping, with_group_members: true %>
        <% else %>
        <%= render_notification @notifications, fallback: :default %>
        <%#= render_notification @notifications, fallback: :text %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render_notifications_of @target, fallback: :default, index_content: :with_attributes %>
<%#= render_notifications_of @target, fallback: :default, index_content: :unopened_with_attributes, reverse: true %>
<%#= render_notifications_of @target, fallback: :default_without_grouping, index_content: :with_attributes, with_group_members: true %>
