<%= content_for :title, s_('Title|My conversations') %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9">
    <div class="row conversations-header pt-5 mb-3">
      <div class="col-lg-12">
        <h1 class="mb-1"><%= s_('Title|My conversations') %></h1>
      </div>
      <div class="col-lg-12">
        <p class="header-caption"><%= _('Get in touch with other commoners') %></p>
      </div>
    </div>
    <% if @conversations.any? %>
      <%= render @conversations %>
    <% else %>
    <div class="row justify-content-center">
      <div class="col text-center">
        <h2 class="text-muted">
          <%= _("No conversations") %>
        </h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
