<%= content_for :title, s_('Title|Start a conversation') %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9 bg-white py-3">
    <h1 class="mt-4"><%= s_('Title|Start a conversation') %></h1>
    <%= simple_form_for(@conversation) do |f| %>
      <%= f.error_notification %>
      <%= f.association :sender, as: :hidden %>
      <%= f.association :recipient, as: :hidden %>
      <% @conversation.messages.each do |message| %>
        <%= field_set_tag do %>
          <%= f.simple_fields_for :messages, message do |msg| %>
            <%= msg.association :commoner, as: :hidden %>
            <%= msg.input :body, as: :text, label: false, required: false %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.button :submit, s_('Button|Send'), class: 'btn btn-cf float-right' %>
    <% end %>
  </div>
</div>
