<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <div class="conversation-header">
      <h3><%= 'Converstation with' %></h3>
    </div>
    <div class="conversation-container d-flex flex-column justify-content-end">
      <div id="conversation-messages">
        <% @messages.each do |message| %>
        <div class="conversation-message d-flex flex-column <%= message.author == current_user.meta ? 'align-items-end' : 'align-items-start' %>">
          <div class="message <%= message.author == current_user.meta ? 'current-user-message' : 'other-user-message' %>">
            <div class="message-author <%= message.author == current_user.meta ? 'text-right' : 'text-left' %>"><%= message.author.name %></div>
            <div class="message-body">
              <%= detect_links_in(message.body) %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="conversation-message-form">
        <%= render 'messages/form', message: (@new_message) %>
      </div>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    var element =  document.getElementById("conversation-messages");
    element.scrollTop = element.scrollHeight
  </script>
<% end %>
