<h2><%= s_('Title|Join request by %{commoner_name}') %{commoner_name: @join_request.commoner.name} %></h2>
<p>
  <%= _("Requested on %{date}") %{date: l(@join_request.created_at, format: :short)} %>
</p>
<p>
  <%= link_to (_("View profile of %{commoner_name}") %{commoner_name: @join_request.commoner.name}), @join_request.commoner %>
</p>
<div class="row">
  <div class="col">
    <%= button_to s_('Button|Accept'),
                  accept_group_join_request_path(@group, @join_request),
                  class: 'btn btn-cf btn-block' if can? :accept, @join_request%>
  </div>
  <div class="col">
    <%= button_to s_('Button|Reject'),
                  reject_group_join_request_path(@group, @join_request),
                  class: 'btn btn-outline-cf btn-block' if can? :reject, @join_request%>
  </div>
</div>
