<div class="group-media mt-3 mb-3">
  <%= link_to group do %>
    <%= image_tag group.avatar.card, class: 'rounded-circle mr-3' %>
  <% end %>
  <div class="media-body">
    <h5 class="mt-2 mb-0"><%= link_to group.name, group %></h5>
    <small class="text-muted">
      <%= fa_icon('user') %>
      <%= group.members.count %>
      <%= n_('member', 'members', group.members.count) %>
    </small>
  </div>
</div>
