<div class="group-media mt-3 mb-3">
  <%= link_to group do %>
    <%= image_tag group.avatar.card, class: 'rounded-circle mr-3' %>
  <% end %>
  <div class="media-body">
    <h4 class="mt-1 mb-1"><%= link_to group.name, group %></h4>
    <span class="text-muted">
      <%= fa_icon('user') %>
      <%= group.members.count %>
      <%= n_('member', 'members', group.members.count) %>
    </span>
  </div>
</div>
