<%= content_for :title, s_('Activate account') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6 py-4 bg-white">
    <h2 class=""><%= s_('Activate account') %></h2>
    <%= simple_form_for(@commoner, url: affiliate_group_path(@group)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name,
                  required: false,
                  label: s_('Activate account form|Choose your name on Commonfare.net'),
                  hint: _('It must be unique') %>
      <%= f.input :id, as: :hidden %>
      <%= f.simple_fields_for :user do |uf| %>
        <%= uf.input :email, autofocus: true, label: s_('Activate account form|Enter your email address'), input_html: { value: '' } %>
        <%= uf.input :password, autocomplete: "off", label: s_('Activate account form|Enter your new password'), required: false %>
        <%#= uf.input :password_confirmation, label: s_('Activate account form|Repeat new password'), required: false %>
      <% end %>
      <p>
        <small>
          <%= (_("By joining you agree to our %{tos} and %{privacy}.") %{
                tos: link_to(_('Terms of Service'), page_path(id: 'tos')),
                privacy: link_to(_('Privacy Policy'), page_path(id: 'privacy'))
                }
            ).html_safe %>
        </small>
      </p>
      <div class="row">
        <div class="col">
          <%= link_to s_('Button|Cancel'), :back, class: 'btn btn-outline-secondary btn-lg btn-block' %>
        </div>
        <div class="col">
          <%= f.button :submit, s_('Button|Activate'), class: 'btn btn-cf btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
