<%= content_for :title, s_('Activate account') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6 py-4 bg-white">
    <h2 class=""><%= s_('Activate account') %></h2>
    <%= simple_form_for(@commoner, url: affiliate_group_path(@group)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name,
                  required: false,
                  label: _('Your name on Commonfare.net'),
                  hint: _('It must be unique') %>
      <%= f.input :id, as: :hidden %>
      <%= f.simple_fields_for :user do |uf| %>
        <%= uf.input :email, autofocus: true, label: s_('Activate account form|Your email') %>
        <%= uf.input :password, autocomplete: "off", label: s_('Activate account form|Your new password'), required: false %>
        <%#= uf.input :password_confirmation, label: s_('Activate account form|Repeat new password'), required: false %>
      <% end %>
      <%= render 'shared/back_and_save_buttons', f: f, cancel_path: nil %>
    <% end %>
  </div>
</div>
