<% content_for :title, s_('Title|Create group') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2 class="red-title"><%= s_('Title|Create group') %></h2>
    <%= simple_form_for(@group) do |f| %>
      <%= f.error_notification %>
      <%= render 'fields', f: f %>
      <%= f.button :submit, new_group_btn_text, class: 'btn btn-cf btn-block' %>
    <% end %>
  </div>
</div>
