<%= content_for :title, @group.name %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10">
    <div class="row group-header py-4 bg-white">
      <div class="col-md-9 group-profile">
        <%= image_tag @group.avatar.profile, class: 'mb-1' %>
        <div>
          <p class="group-name"><%= @group.name %></p>
          <p><%= @group.description %></p>
        </div>
      </div>
      <div class="col-md-3 group-actions">
        <% if can? :create, @new_join_request %>
          <%= link_to 'Join this group', new_group_join_request_path(@group), class: 'btn btn-cf' %>
        <% end %>
        <% if can? :edit, @group %>
          <%= link_to 'Edit group', edit_group_path(@group), class: 'btn btn-outline-cf btn-cf' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row nav-pills-container mb-3">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <% if can? :create, @new_discussion %>
            <li class="nav-item">
              <a class="nav-link active" id="pills-discussions-tab" data-toggle="pill" href="#pills-discussions" role="tab" aria-controls="pills-discussions" aria-selected="true"><%= _('Discussions') %></a>
            </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if cannot? :create, @new_discussion %>" id="pills-stories-tab" data-toggle="pill" href="#pills-stories" role="tab" aria-controls="pills-stories" aria-selected="true"><%= _('Stories') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-members-tab" data-toggle="pill" href="#pills-members" role="tab" aria-controls="pills-members" aria-selected="false"><%= _('Members') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-requests-tab" data-toggle="pill" href="#pills-requests" role="tab" aria-controls="pills-requests" aria-selected="false"><%= _('Requests') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-activities-tab" data-toggle="pill" href="#pills-activities" role="tab" aria-controls="pills-activities" aria-selected="false"><%= _('Activities') %></a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <% if can? :create, @new_discussion %>
            <div class="tab-pane fade show active" id="pills-discussions" role="tabpanel" aria-labelledby="pills-discussions-tab">
              <%= link_to s_('Button|Start a new discussion'), new_group_discussion_path(@group), class: 'btn btn-cf btn-block'  %>
              <% if @discussions.any? %>
                <%= render @discussions %>
              <% else %>
              <div class="row justify-content-center">
                <div class="col text-center">
                  <h3 class="text-muted mt-4">
                    <%= _("No discussions yet") %>
                  </h3>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
          <div class="tab-pane fade <%= 'show active' if cannot? :create, @new_discussion %>" id="pills-stories" role="tabpanel" aria-labelledby="pills-stories-tab">
            <% if @group_stories.any? %>
              <%= render partial: 'stories/story', collection: @group_stories, as: :story %>
            <% else %>
            <%# if @story_types_and_lists.any? %>
            <%#= render 'stories/types_and_lists', story_types_and_lists: @story_types_and_lists %>
            <%# else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _("No stories yet") %>
                </h3>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">
            <%= link_to(s_('Button|Invite member'), '#', class: 'btn btn-cf btn-block', data: { toggle: "modal", target: "#inviteMemberModal" }) if can? :create, JoinRequest  %>
            <% if @members.any? %>
              <%= render partial: 'commoners/commoner', collection: @members, as: :commoner %>
            <% else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h2 class="text-muted mt-4">
                  <%= _("No members") %>
                </h2>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-requests" role="tabpanel" aria-labelledby="pills-requests-tab">
            <% if @pending_join_requests.any? %>
              <%= render partial: 'join_requests/join_request', collection: @pending_join_requests, as: :join_request %>
            <% else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _('No pending requests') %>
                </h3>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities-tab">
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _("Coming soon") %>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'inviteModal' %>
