<%= simple_form_for(@commoner) do |f| %>
  <%= f.error_notification %>
    <%= f.input :name,
                required: false,
                label: _('Name'),
                placeholder: _('e.g. Bungo Baggins, pbm42, etc.'),
                hint: _('It must be unique') %>
    <%= f.input :description,
                required: false,
                label: _('Description'),
                placeholder: _('Few words about yourself') %>
    <%= f.input :avatar,
                as: :image_preview,
                input_html: { preview_version: :profile },
                label:_('Avatar'),
                hint: _('Square pictures look better ✨'),
                wrapper: :vertical_file_input %>
    <div class="form-group">
      <div><label><%= _('Account settings') %></label></div>
      <%= link_to(_('Edit'), edit_user_registration_path, class: 'btn btn-cf btn-sm') %>
    </div>
    <%= f.association :tags,
                      label: _('Interests'),
                      # placeholder: "Managed in JS",
                      hint: _('Use comma or press Enter to separate interests') %>
    <%= render 'shared/back_and_save_buttons', f: f, cancel_path: commoner_path(@commoner) %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    autosize($('#commoner_description'));
    // Select2 for tags
    $('#commoner_tag_ids').select2({
      theme: 'bootstrap',
      placeholder: "<%= _('Skills, services or goods') %>",
      minimumResultsForSearch: -1,
      tags: true,
      tokenSeparators: [',']
    });
    $('#commoner_tag_ids').on('select2:select', function (e) {
      // console.log(data.text);
    });
  </script>
<% end %>
