<p id="notice"><%= notice %></p>

<h1>Commoners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commoners.each do |commoner| %>
      <tr>
        <td><%= commoner.name %></td>
        <td><%= link_to 'Show', commoner %></td>
        <td><%= link_to 'Edit', edit_commoner_path(commoner) %></td>
        <td><%= link_to 'Destroy', commoner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commoner', new_commoner_path %>
