<% content_for :title, @commoner.name %>
<div class="row justify-content-center">
  <div class="col-lg-12 col-md-9">
    <div class="row commoner-header py-4 bg-white">
      <div class="col-lg-8 commoner-profile">
        <%= image_tag @commoner.avatar.profile, class: 'mb-1' %>
        <div>
          <p class="commoner-name"><%= @commoner.name %></p>
          <p><%= @commoner.description %></p>
          <% if @commoner.interests.any? %>
            <%= render 'shared/tags', tags: @commoner.interests %>
          <% end %>
        </div>
        <!-- The edit-profile should be an icon -->
      </div>
      <div class="col-lg-4 commoner-actions">
        <% if user_signed_in? && current_user.meta != @commoner %>
          <% if conversation_with(@commoner).present? %>
            <%= link_to(_('Continue conversation'), conversation_path(conversation_with(@commoner)), class: 'btn btn-outline-cf btn-sm btn-block') %>
          <% else %>
            <%= link_to(_('Start a conversation'), new_conversation_path(recipient_id: @commoner.id), class: 'btn btn-outline-cf btn-sm btn-block') %>
          <% end %>
        <% end %>
        <%= link_to s_('Button|Edit profile'), edit_commoner_path(@commoner), class: 'btn btn-outline-cf btn-sm btn-block edit-profile' if can? :edit, @commoner %>
      </div>
    </div>
    <%# TODO: remove after Santarcangelo %>
<!--     <%# if user_signed_in? && @commoner == current_user.meta %>
      <%# @commoner.group_currency_wallets.find_each do |wallet| %>
        <div class="row justify-content-center bg-white">
          <div class="col-lg-9 text-center py-4">
            <%#= link_to((_('Go to %{currency_name} Wallet') %{currency_name: currency_name_for_wallet(wallet)}), view_commoner_wallet_url(@commoner, wallet), class: 'btn btn-cf btn-block') %>
          </div>
        </div>
      <%# end %>
    <%# end %> -->
    <div class="row">
      <div class="col">
        <div class="row nav-pills-container mb-3">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link active" id="pills-commonshare-tab" data-toggle="pill" href="#pills-commonshare" role="tab" aria-controls="pills-commonshare" aria-selected="true"><%= _('Commonshare') %></a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' unless user_signed_in? %>" id="pills-stories-tab" data-toggle="pill" href="#pills-stories" role="tab" aria-controls="pills-stories" aria-selected="true"><%= _('Stories') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-groups-tab" data-toggle="pill" href="#pills-groups" role="tab" aria-controls="pills-groups" aria-selected="false"><%= _('Groups') %></a>
            </li>
            <% if @commoner.user == current_user %>
              <li class="nav-item">
                <a class="nav-link" id="pills-requests-tab" data-toggle="pill" href="#pills-requests" role="tab" aria-controls="pills-requests" aria-selected="false"><%= _('Requests') %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-content bg-white" id="pills-tabContent">
          <div class="tab-pane fade <%= 'show active' if user_signed_in? %>" id="pills-commonshare" role="tabpanel" aria-labelledby="pills-commonshare-tab">
            <% if @commoner.commonshare_data.present? %>
            <div class="row">
              <div class="col">
                <h6 class="m-3"><%= link_to _("What is the Commonshare?"), page_path(id: 'about', anchor: 'commonshare'), target: :blank %></h6>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4">
                <h3 id="no-commonshare"><%= _("No Commonshare yet") %></h3>
                <div class="box-wrap">
                  <h3><%= s_('Commonshare heading|Two weeks') %></h3>
                  <div class="graph text-center" style="padding: 2em 0 0;">
                    <svg id="donut" width="240" height="280"></svg>
                    <div class="datepicker">
                      <i class="arrow arrow-left" onclick="updateDonut(-1)"></i>
                      <p id="donutdate"></p>
                      <i class="arrow arrow-right" onclick="updateDonut(1)"></i>
                    </div>
                  </div>
                  <div id="donut_description"></div>
                </div>
              </div>
              <div class="col col-lg-8">
                <div class="box-wrap">
                  <h3><%= s_('Commonshare heading|Over time') %></h3>
                  <div class="graph">
                    <div id="linechartdiv">
                      <svg id="linechart" width="500" height="420"></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _("No Commonshare yet") %>
                </h3>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade <%= 'show active' unless user_signed_in? %>" id="pills-stories" role="tabpanel" aria-labelledby="pills-stories-tab">
            <% if @stories.any? %>
              <%= render partial: 'stories/story', collection: @stories.first(6), as: :story %>
            <% else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _("No stories yet") %>
                </h3>
              </div>
            </div>
            <% end %>
            <% if @stories.count > 6 %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <%= link_to(_('See all'), commoner_stories_path(@commoner), class: 'btn btn-outline-cf') %>
              </div>
            </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="pills-groups" role="tabpanel" aria-labelledby="pills-groups-tab">
            <%= link_to s_('Button|Start a group'), new_group_path, class: 'btn btn-cf btn-block' if can? :create, Group  %>
            <% if @commoner.groups.any? %>
              <%= render @commoner.groups %>
            <% else %>
            <div class="row justify-content-center">
              <div class="col text-center">
                <h3 class="text-muted mt-4">
                  <%= _("No groups") %>
                </h3>
              </div>
            </div>
            <% end %>
          </div>
          <% if @commoner.user == current_user %>
            <div class="tab-pane fade" id="pills-requests" role="tabpanel" aria-labelledby="pills-requests-tab">
              <% if @join_requests.any? %>
                <%= render partial: 'join_requests/join_request', collection: @join_requests, as: :join_request %>
              <% else %>
              <div class="row justify-content-center">
                <div class="col text-center">
                  <h3 class="text-muted mt-4">
                    <%= _("No requests") %>
                  </h3>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    <% if user_signed_in? %>
    // These functions are in commonshare/commonvariables.js
    drawCommonshare(
      '<%= commonshare_commoner_url(@commoner) %>',
      '<%= @commoner.id %>',
      '<%= I18n.locale.to_s %>'
    );
    <% end %>
  </script>
<% end %>
