<% content_for :title, @commoner.name %>
<div class="row commoner-profile">
  <div class="col-sm-6">
    <%= image_tag @commoner.avatar.profile %>
  </div>
  <div class="col-sm-6">
    <p class='lead'>
      <%= @commoner.name %>
    </p>
    <%= link_to s_('Button|Edit profile'), edit_commoner_path(@commoner), class: 'btn btn-outline-cf btn-sm' if can? :edit, @commoner %>
  </div>
</div>
<hr>
<h4 class="text-center red-title"><%= _("%{commoner_name}'s stories") %{commoner_name: @commoner.name} %></h4>
<% if @stories.any? %>
  <div class="row">
    <% @stories.each do |story| %>
    <div class="col-lg-4 col-md-6">
      <%= render 'stories/card', story: story %>
    </div>
    <% end %>
  </div>
<% else %>
  <div class="row justify-content-center">
    <div class="col text-center">
      <p class="lead">
        <em><%= _("No Stories yet.") %></em>
      </p>
    </div>
  </div>
<% end %>
<% if @commoner.stories.count > 6 %>
  <div class="row justify-content-center">
    <div class="col text-center">
      <%= link_to(_("Read more"), commoner_stories_path(@commoner), class: 'btn btn-info') %>
    </div>
  </div>
<% end %>
