<%= content_for :open_graph_tags do %>
<!-- OpenGraph tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content='Commonfare' />
<meta property="og:description" content='Commonfare.net' />
<meta property="og:image" content='<%= image_url('cf_icon_red.png') %>' />
<meta property="og:url" content='<%= request.url %>' />
<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image" />
<% end %>
<%= content_for :hero do %>
<div class="cf-jumbotron" style="background-image: url('<%= jumbotron_bg_image_path %>')">
  <div class="gray-layer">&nbsp;</div>
  <div class="container-fluid d-block d-lg-none d-xl-none">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6">
        <div class="logo-container">
          <%= inline_svg 'logo.svg', id: 'logo-svg' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters carousel-container">
    <div class="col">
      <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators d-lg-none d-xl-none">
          <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselControls" data-slide-to="1"></li>
          <li data-target="#carouselControls" data-slide-to="2"></li>
        </ol>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <p>
                    <%= s_("Home carousel text|We have so much in Common") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <% unless user_signed_in? %>
  <div class="container-fluid">
    <div class="row justify-content-center mt-2">
      <div class="col-lg-4 col-md-6 text-center">
        <p class="jumbotron-text">
          <%= s_('Home text|Commonfare.net is for, with, and by people.') %>
          <br>
          <%= s_('Home text|Do you want to join? You will need only an email address, and we will never use it for other purposes.') %>
        </p>
        <%= link_to s_('Button|Join'), new_user_registration_path, class: 'btn btn-cf-alt btn-block' %>
        <p class="jumbotron-text">
          <%= (s_('Home text|Are you already registered? <strong>%{login_link}</strong>') %{login_link: link_to(_('Login'), new_user_session_path)}).html_safe %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<% @story_types_and_lists.each do |story_type, story_list| %>
  <% if story_list.any? %>
    <div class="row story-type-header bg-white">
      <div class="col-lg-12">
        <h2><%= story_type_title(story_type) %></h2>
      </div>
      <div class="col-lg-9">
        <p class="text-muted header-caption"><%= story_type_subtitle(story_type) %></p>
      </div>
      <!-- TODO-NEW: Add possibility to filter results by language. By default it's the platform language -->
      <div class="col-lg-3 text-right">
        <a class="btn btn-outline-cf btn-sm"><%= _("Show stories in: English") %> <i class="fa fa-caret-down pl-2"></i></a>
      </div>
    </div>
    <div class="row bg-white">
    <% if story_type == :welfare_provision %>
      <div class="col">
        <% story_list.each do |story| %>
          <%= render 'stories/wp_row', story: story %>
        <% end %>
      </div>
    <% else %>
      <% story_list.each do |story| %>
        <div class="col-lg-4 col-md-6">
          <%= render 'stories/card', story: story %>
        </div>
      <% end %>
    <% end %>
    <div class="col-lg-12 text-center py-4">
      <%= link_to _('See all'), stories_path(filter: story_type), class: 'btn btn-cf' %>
    </div>

    </div>
  <% end %>
<% end %>
