<%= content_for :hero do %>
<div class="cf-jumbotron">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="logo-container">
          <%= inline_svg 'logo.svg', id: 'logo-svg' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters carousel-container">
    <div class="col">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
          <li data-target="#carouselControls" data-slide-to="1"></li>
          <li data-target="#carouselControls" data-slide-to="2"></li>
        </ol>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h1><%= s_('Home carousel title|Get involved and help it grow') %></h1>
                  <p>
                    <%= s_("Home carousel text|Commonfare.net aims to foster a new approach to social welfare in Europe. We can help each other (and ourselves!) when we connect and cooperate. Commonfare is for people and about people") %>
                  </p>
                </div>
                <div class="carousel-item">
                  <h1><%= s_('Home carousel title|Inform and get informed') %></h1>
                  <p>
                    <%= s_("Home carousel text|Commonfare.net is a place where you can inform and get informed about welfare provisions and grassroots initiatives") %>
                  </p>
                </div>
                <div class="carousel-item">
                  <h1><%= s_('Home carousel title|Share your experience and stories') %></h1>
                  <p>
                    <%= s_("Home carousel text|Share your experience and stories, communicate events throughout Europe, support initiatives based on collaboration and solidarity") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <% unless user_signed_in? %>
  <div class="container-fluid">
    <div class="row justify-content-center mt-2">
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col">
            <%= link_to s_('Button|Join'), new_user_registration_path, class: 'btn btn-cf btn-lg btn-block' %>
          </div>
          <div class="col">
            <%= link_to s_('Button|Login'), new_user_session_path, class: 'btn btn-outline-cf btn-lg btn-block'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<% if @featured_stories.any? %>
  <h2 class="text-center"><%= _('Latest Stories') %></h2>
  <div class="row">
  <% @featured_stories.each do |story| %>
    <div class="col-lg-4 col-md-6">
      <%= render 'stories/card', story: story %>
    </div>
  <% end %>
  </div>
  <div class="row pb-3">
    <div class="col text-center">
      <%= link_to _('See all'), stories_path(filter: :normal), class: 'btn btn-outline-cf-secondary' %>
    </div>
  </div>
<% end %>
<hr>
<% if @featured_wps.any? %>
  <h2 class="text-center"><%= _('Latest Welfare Provisions') %></h2>
  <div class="row">
  <% @featured_wps.each do |story| %>
    <div class="col-lg-4 col-md-6">
      <%= render 'stories/card', story: story %>
    </div>
  <% end %>
  </div>
  <div class="row pb-3">
    <div class="col text-center">
      <%= link_to _('See all'), stories_path(filter: :welfare_provision), class: 'btn btn-outline-cf-secondary' %>
    </div>
  </div>
<% end %>
<hr>
<% if @featured_gps.any? %>
  <h2 class="text-center"><%= _('Latest Good Practices') %></h2>
  <div class="row">
  <% @featured_gps.each do |story| %>
    <div class="col-lg-4 col-md-6">
      <%= render 'stories/card', story: story %>
    </div>
  <% end %>
  </div>
  <div class="row pb-3">
    <div class="col text-center">
      <%= link_to _('See all'), stories_path(filter: :good_practice), class: 'btn btn-outline-cf-secondary' %>
    </div>
  </div>
<% end %>
