<div class="cf-jumbotron text-center">
  <div class="row justify-content-center">
    <div class="col">
      <div class="logo-container">
        <%= inline_svg 'logo.svg', id: 'logo-svg' %>
      </div>
    </div>
  </div>
  <p class="lead">
    <%= s_('Hero unit text|Commonfare.net is a place where you can inform and get informed about welfare provisions and grassroots initiatives, share your experience and stories, communicate events throughout Europe, support initiatives based on collaboration and solidarity. Commonfare.net aims to foster a new approach to social welfare in Europe. We can help each other (and ourselves!) when we connect and cooperate.
') %>
  </p>
  <p class="lead"><strong><%= s_('Hero unit text|Commonfare is for people and about people. Get involved and help it grow!') %></strong></p>
  <p class="lead">
    <%= link_to(_('Discover'), stories_path, class: 'btn btn-cf btn-lg') %>
  </p>
</div>
<% if @featured_stories.any? %>
  <h2 class="text-center">Latest Stories</h2>
  <div class="row">
  <% @featured_stories.each do |story| %>
    <div class="col-lg-4 col-md-6">
      <%= render 'stories/card', story: story %>
    </div>
  <% end %>
  </div>
  <div class="row pb-3">
    <div class="col text-center">
      <%= link_to _('See more'), stories_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
