<%= content_for :title, s_('Title|%{holder_name} %{currency_name} wallet') %{holder_name: @wallet.holder.name, currency_name: currency_name_for_wallet} %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9">
    <div class="row wallet-header pt-5 pb-2 bg-white">
      <div class="col">
        <h6><%= s_('Title|Commoner name') %></h6>
        <h1><%= link_to(@wallet.holder.name, commoner_path(@wallet.holder)) %></h1>
      </div>
    </div>
    <div class="row wallet-balance pt-3 mb-4 bg-white">
      <div class="col">
      <h6><%= _('Current balance') %></h6>
      <h1><%= number_to_currency(@wallet.balance || 0, precision: 2, locale: I18n.locale, unit: "#{currency_code_for_wallet} ") %></h1>
        <p><%#= link_to((s_('Button|Send %{currency_code}') %{currency_code: currency_code_for_wallet}), get_new_transaction_path(@wallet.currency), class: 'btn btn-outline-cf') if can? :create, @wallet.outgoing_transactions.build %></p>
      </div>
    </div>
    <%= link_to(s_('Show QR code'), '#', class: 'btn btn-outline-secondary btn-block', data: { toggle: "modal", target: "#qrModal" }) if can_view_qr_code? %>
    <%= link_to(s_('Button|Daily takings'), daily_takings_commoner_wallet_path(@commoner, @wallet, {day_start: get_day_start_for_wallet(@wallet)}), class: 'btn btn-outline-secondary btn-block') if can? :daily_takings, @wallet %>
    <%= link_to s_('Button|Activate account'), affiliation_group_path(@wallet.currency.group, { commoner_name: @wallet.holder.name}), class: 'btn btn-cf btn-block' if can_activate_account_for_group?(@wallet.currency.group, @wallet.holder) %>
    <%= link_to s_('Button|Associate to your Commonfare account'), new_user_session_path({ hash_id: @wallet.hash_id}), class: 'btn btn-cf btn-block' if can_activate_account_for_group?(@wallet.currency.group, @wallet.holder) %>
    <%= link_to s_('Button|Associate to this Commonfare account'), '#', class: 'btn btn-cf btn-block', data: { toggle: "modal", target: "#joinAndAssociateQrWalletModal" } if can? :join_and_associate_qr_wallet, @wallet.currency.group %>

    <% if can_top_up_wallet? %>
      <%= link_to(s_('Button|Withdraw'), withdraw_commoner_transactions_path(@wallet.walletable, { from_wallet_id: @wallet.id, currency: @wallet.currency.id }), class: 'btn btn btn-cf btn-block') %>
      <%= link_to(s_('Button|Top up'), top_up_commoner_transactions_path(@wallet.walletable, { to_wallet_id: @wallet.id, currency: @wallet.currency.id }), class: 'btn btn-cf-alt btn-block') %>
      <%= link_to(s_('Button|Reimburse'), withdraw_commoner_transactions_path(@wallet.walletable, { from_wallet_id: @wallet.id, currency: @wallet.currency.id, amount: @wallet.balance, reimburse: true }), class: 'btn btn-cf-alt btn-block') %>
    <% end %>
    <% if @grouped_transactions.any? %>
      <div class="wallet-transactions my-4">
        <h6><%= _('Transactions') %></h6>
        <% @grouped_transactions.each do |date, transactions| %>
          <div class="transaction-date">
            <%= l(date, format: :long) %>
          </div>
          <% transactions.each do |transaction| %>
            <%= render 'transactions/transaction', transaction: transaction %>
          <% end %>
        <% end %>
      </div>
      <% if @wallet.transactions.count > @visible_transactions_num %>
        <% if can_activate_account_for_group?(@wallet.currency.group, @wallet.holder) %>
          <p class="text-center"><%= link_to _('Activate account to see more'), '#', class: 'btn btn-cf btn-block' %></p>
        <% else %>
          <p class="text-center"><%= link_to _('See all'), get_transactions_path, class: 'btn btn-outline-cf-secondary' %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'wallets/qr_modal' if can_view_qr_code? %>
<%= render 'wallets/join_and_associate_qr_wallet_modal' if can? :join_and_associate_qr_wallet, @wallet.currency.group %>
