<%= content_for :title, s_('Title|%{holder_name} %{currency_name} wallet') %{holder_name: @wallet.holder.name, currency_name: currency_name_for_wallet} %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10">
    <div class="row wallet-header pt-5 pb-2 bg-white">
      <div class="col">
        <h1><%= link_to(@wallet.holder.name, commoner_path(@wallet.holder)) %></h1>
      </div>
    </div>
    <div class="row wallet-balance pt-3 bg-white">
      <div class="col">
      <h6><%= _('Current balance') %></h6>
      <h1><%= number_to_currency(@wallet.balance || 0, precision: 6, locale: I18n.locale, unit: "#{currency_code_for_wallet} ") %></h1>
          <!-- <small class="text-muted">{Next payment expected on date: --/--/----}</small> -->
        <p><%= link_to((s_('Button|Send %{currency_code}') %{currency_code: currency_code_for_wallet}), get_new_transaction_path(@wallet.currency), class: 'btn btn-outline-cf') if can? :create, @wallet.outgoing_transactions.build %></p>
      </div>
    </div>
    <%= link_to(s_('Show QR code'), '#', class: 'btn btn-cf btn-block', data: { toggle: "modal", target: "#qrModal" }) if can_view_qr_code? %>
    <% if can_top_up_wallet? %>
      <%= link_to(s_('Top up'), top_up_commoner_transactions_path(@wallet.walletable, { to_wallet_id: @wallet.id, currency: @wallet.currency.id }), class: 'btn btn-cf btn-block') %>
      <%= link_to(s_('Withdraw'), withdraw_commoner_transactions_path(@wallet.walletable, { from_wallet_id: @wallet.id, currency: @wallet.currency.id, amount: @wallet.balance }), class: 'btn btn-cf-secondary btn-block') %>
    <% end %>
    <div class="wallet-transactions mt-4">
      <h6>Transactions</h6>
      <% @grouped_transactions.each do |date, transactions| %>
        <div class="transaction-date">
          <%= l(date, format: :long) %>
        </div>
        <% transactions.each do |transaction| %>
          <%= render 'transactions/transaction', transaction: transaction %>
        <% end %>
      <% end %>
      <% if @wallet.transactions.count > 10 %>
        <p class="text-center"><%= link_to _('See all'), get_transactions_path, class: 'btn btn-outline-cf-secondary' %></p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'wallets/qr_modal' if can_view_qr_code? %>
