<% if content_json.any? %>
  <% content_json.each do |item| %>
    <% if item['type'] == 'text' %>
      <div class="story-content-item story-content-item--text">
        <%= item['content'].html_safe %>
      </div>
    <% elsif item['type'] == 'largeText' %>
      <h3 class="story-content-item story-content-item--large-text">
        <%= item['content'] %>
      </h3>
    <% elsif item['type'] == 'image' %>
      <%= link_to item['content'], target: '_blank' do %>
        <figure class="story-content-item story-content-item--image">
          <%= image_tag item['content'] %>
          <figcaption>
            <%= item['caption'] %>
          </figcaption>
        </figure>
      <% end %>
    <% elsif item['type'] == 'video' %>
      <figure class="story-content-item story-content-item--video">
        <%= item['content'].html_safe %>
      </figure>
    <% end %>
  <% end %>
<% else %>
  <%= _('This story has no content yet') %>
<% end %>
