<div class="story-card text-white my-2" >
  <% if story.welfare_provision? %>
    <div class="card-ribbon wp-ribbon"><%= _("Welfare Provision") %></div>
  <% end %>
  <% if story.good_practice? %>
    <div class="card-ribbon gp-ribbon"><%= _("Good Practice") %></div>
  <% end %>
  <%= image_tag story_card_image_path(story), alt: 'Story picture', class: 'card-img-top' %>
  <div class="story-card-img-overlay">
    <div class="story-card-title-container">
      <h4 class="card-title"><%= link_to(story.title, story_path(story), class: 'story-card-title-link') %></h4>
    </div>
    <div class="media">
      <% if story.anonymous? %>
        <%= image_tag 'anonymous_avatar.png', class: 'story-card-author-image' %>
      <% else %>
        <%= image_tag story.commoner.avatar.card, class: 'story-card-author-image' %>
      <% end %>
      <div class="media-body">
        <p class="my-0 text-white"><%= card_author(story) %></p>
        <small class="text-white"><%= l(story.created_at.to_date, format: :short) %></small>
      </div>
      <%#= link_to(fa_icon('edit'), edit_story_path(story, story_locale: @story_locale), class: 'btn btn-info align-self-end') if can? :edit, story %>
    </div>
    <% if can? :edit, story %>
      <%= link_to edit_story_path(story, story_builder: story.created_with_story_builder?), class: 'mdc-fab mdc-fab--mini material-icons card-fab--absolute', 'aria-label': 'Favorite', data: { 'mdc-auto-init': 'MDCRipple' } do %>
      <span class="mdc-fab__icon">
        <%= fa_icon 'pencil lg' %>
      </span>
      <% end %>
    <% end %>
  </div>
  <div class="story-card-footer">
    <% if story.tags.any? %>
    <small class="story-card-tags-text text-muted">
      <%= fa_icon('tags') %> <%= story_card_tags_links(story) %>
    </small>
    <% end %>
    <% if story.comments.any? %>
    <small class="float-right text-muted">
      <%= link_to story_card_comments_link(story), class: 'story-comments-link' do %>
        <%= fa_icon 'comment-o', class: 'story-comments-icon' %> <%= story.comments.count %>
      <% end %>
    </small>
    <% end %>
  </div>
</div>
