<div class="story-card my-2" >
  <%= link_to story_path(story), class: '' do %>
    <%= image_tag 'http://placebear.com/318/150', alt: 'Story title', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <div class="my-2">
      <small class="card-subtitle text-muted"><%= fa_icon('tags') %> <%= story_card_tags_links(story) %></small>
    </div>
    <h5 class="story-card-title"><%= link_to(truncate(story.title, length: 55), story_path(story), class: 'story-card-title-link') %></h5>
    <!-- <p class="card-text"><%#= truncate(strip_tags(story.content), length: 100) %></p> -->
    <div class="media mb-2">
      <%= image_tag story.commoner.avatar.card, class: 'd-flex mr-3 rounded-circle' %>
      <div class="media-body">
        <p class="my-0"><%= link_to(story.commoner.name, commoner_path(story.commoner), class: 'text-muted') %></p>
        <small class="text-muted"><%= l(story.created_at.to_date, format: :short) %></small>
        <% if story.comments.any? %>
          <small class="float-right text-muted pr-3">
            <%= link_to story_card_comments_link(story), class: 'story-card-comments-link' do %>
              <%= fa_icon 'comment-o' %> <%= story.comments.count %>
            <% end %>
          </small>
        <% end %>
      </div>
      <%= link_to(_('Edit'), edit_story_path(story, story_locale: @story_locale), class: 'btn btn-info align-self-end') if can? :edit, story %>
    </div>
  </div>
</div>
