<div class="story-media-container">
  <div class="story-media-body">
    <%= link_to story_show_or_preview_path(story) do %>
      <%= image_tag story_card_square_image_path(story), class: 'mr-3' %>
    <% end %>
    <div class="media-body">
      <h4 class="mb-0"><%= link_to story.title, story_show_or_preview_path(story), class: 'clamp' %></h4>
      <small class="text-muted">
        <%= l(story.created_at.to_date, format: :short) %>
      </small>
    </div>
  </div>
  <div class="story-media-footer">
    <div class="story-media-footer-comments">
      <%= link_to story_card_comments_link(story) do %>
        <%= fa_icon 'comment-o', text: "#{story.comments.count} #{n_('Comment', 'Comments', story.comments.count)}" %>
      <% end %>
    </div>
  </div>
</div>
