<div class="row wp-row">
  <div class="col-1 wp-row--date">
    <%= l(story.created_at.to_date, format: :short) %>
  </div>
  <div class="col-11">
    <div class="row">
      <div class="col-lg-9 col-md-8 wp-row--title">
        <h3><%= link_to(story.title, story_path(story)) %></h3>
        <% if story.tags.any? %>
        <small class="story-card-tags-text">
          <%= story_card_tags(story) %>
        </small>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="row">
          <div class="col-8 wp-row--place">
            <%= fa_icon('map-marker fw', text: story.place) %>
          </div>
          <div class="col-4 text-right wp-row--comments">
            <% if story.comments.any? %>
              <%= link_to story_card_comments_link(story), class: 'story-comments-link' do %>
              <%= fa_icon('comment-o', class: 'story-comments-icon', text: story.comments.count) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
