<% content_for :title, _('Write your Story') %>
<div class="row justify-content-center pb-2">
  <div class="col-md-10 col-lg-8">
    <% Globalize.with_locale(@story_locale) do %>
      <%= render 'language_choice', story_locale: @story_locale %>

      <% if @story.persisted? %>
        <%= react_component 'StoryBuilderWrapper',
                            locale: @story_locale,
                            story: JSON.parse(render(template: 'stories/show.json')),
                            availableTags: Tag.all.as_json %>
      <% end %>

      <% unless @story.published? %>
        <%= simple_form_for([@commoner, @story], url: story_path(@story)) do |f| %>
          <%= f.input :published,
                      as: :hidden,
                      value: true %>

          <%= f.button :submit,
                  s_('Story form button|Publish'),
                  id: 'publish-button',
                  class: 'btn btn-success btn-block',
                  data: {'disable-with': _('Publishing...')} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
