<% content_for :title, _('Edit your Story') %>
<div class="row justify-content-center pb-2">
  <div class="col-md-10 col-lg-8">
    <h2><%= _('Edit your Story') %></h2>
    <% Globalize.with_locale(@story_locale) do %>
      <div>
        <%= _("You are editing in") %>
        <div class="dropdown d-inline">
          <button href="#" id="dropdownMenuButton" type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= localised_language_name(I18n.locale, @story_locale) %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% other_locales(@story_locale).each do |locale| %>
              <%= link_to "#{localised_language_name(I18n.locale, locale)}", { story_locale: locale }, class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </div>
      <% unless @story.translated_in?(@story_locale) %>
        <div class="badge badge-warning">
          <%= _("You haven't yet saved this Story in %{localised_lang_name}" %{localised_lang_name: localised_language_name(I18n.locale, @story_locale)}) %>
        </div>
      <% end %>
      <%#= render 'form', story: @story %>
      <%= simple_form_for([@commoner, @story], url: story_path(@story, story_locale: @story_locale)) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.button :submit,
                s_('Story form button|Edit'),
                id: 'publish-button',
                class: 'btn btn-success btn-block',
                data: {'disable-with': _('Publishing...')} %>
      <% end %>
      <p class="text-right">
        <small>
          <%= link_to(fa_icon('trash', text: _('Delete this Story')),
          story_path(@story),
          method: :delete,
          class: 'text-danger',
            data: {confirm: _('Are you sure? This will delete all the comments as well.')}) %>
        </small>
      </p>
    <% end %>
  </div>
</div>
