<% content_for :title, @story.title %>
<div class="row justify-content-center">
  <div class="story-container">
    <% Globalize.with_locale(@story_locale) do %>
    <%= content_for :open_graph_tags do %>
    <!-- OpenGraph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%= @story.title %> | Commonfare' />
    <meta property="og:description" content='<%= og_description_for(@story) %>' />
    <meta property="og:image" content='<%= story_card_image_url(@story) %>' />
    <meta property="og:url" content='<%= request.url %>' />
    <!-- Twitter tags -->
    <meta name="twitter:card" content="<%= @story.images.any? ? 'summary_large_image' : 'summary' %>" />
    <% end %>

    <div class="row">
      <div class="col">
        <div class="story-title">
          <% if can? :edit, @story %>
            <%= link_to edit_story_path(@story, story_locale: @story_locale), class: 'mdc-fab mdc-fab--mini material-icons card-fab--absolute', 'aria-label': 'Favorite', data: { 'mdc-auto-init': 'MDCRipple' } do %>
              <span class="mdc-fab__icon">
                <%= fa_icon 'pencil lg' %>
              </span>
            <% end %>
          <% end %>
          <p class="story-type"><%= title_for_stories(@story.type).upcase %></p>
          <h2>
            <%= @story.title %>
          </h2>
        </div>
      </div>
    </div>

    <% if @story.tags.any? %>
      <%= render 'stories/tags', tags: @story.tags %>
    <% end %>

    <div class="row">
      <div class="col-lg-3">
        <div class="story-info">
          <div class="row mb-2">
            <div class="col">
              <div class="story-author">
                <%= fa_icon('user fw', text: author_for(@story)) %>
              </div>
              <div class="story-date">
                <%= fa_icon('clock-o fw', text: l(@story.created_at.to_date, format: :long)) %>
              </div>
              <div class="story-place">
                <%= fa_icon('map-marker fw', text: @story.place) %>
              </div>
              <% if @story.translated_locales.length > 1 && @story.has_translations_besides(@story_locale) %>
              <div class="row">
                <div class="col">
                  <div class="story-lang-select">
                    <%= fa_icon('globe', text: other_story_available_translations(@story, @story_locale).html_safe) %>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="story-comments">
                <%= link_to '#comments-anchor', class: 'story-comments-link' do %>
                  <%= fa_icon 'comment-o', text: "#{@comments.count} #{n_('Comment', 'Comments', @comments.count)}" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= link_to s_("Button|Share"), '#', class: 'btn btn-cf btn-block', data: { toggle: "modal", target: "#shareModal" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col">
            <div class="story-content">
              <%= @story.content&.html_safe %>
              <%# TODO: content_json %>
              <%= @story.content_json&.map{ |item| item['content'] }&.join&.html_safe %>
            </div>
          </div>
        </div>
        <div class="row py-5">
          <div class="col-lg-4">
            <%= link_to s_("Button|Share"), '#', class: 'btn btn-cf btn-block', data: { toggle: "modal", target: "#shareModal" } %>
          </div>
        </div>
        <%= render('comments/new', story: @story, comment: @comment) if user_signed_in? %>
        <div class="row">
          <div class="col-md-8 col-lg-8">
            <h3 id="comments-anchor" class="red-title text-left"><%= @comments.count %> <%= n_('Comment', 'Comments', @comments.count) %></h3>
            <%= render 'comments/list', comments: @comments %>
          </div>
        </div>
      </div>
    </div>

    <% end %> <%# end Globalize block %>

  </div>
</div>

<%= render 'stories/share_modal' %>
