<% content_for :title, @story.title %>
<div class="row justify-content-center">
  <div class="story-container">
    <% Globalize.with_locale(@story_locale) do %>
    <%= content_for :fb_open_graph_tags do %>
    <!-- OpenGraph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%= @story.title %> | Commonfare' />
    <meta property="og:description" content='<%= strip_tags(@story.content).truncate(42) %>' />
    <meta property="og:image" content='<%= story_card_image_url(@story) %>' />
    <meta property="og:url" content='<%= request.url %>' />
    <% end %>

    <%# Language selection %>
    <% if @story.translated_locales.length > 1 && @story.has_translations_besides(@story_locale) %>
    <div class="row">
      <div class="col">
        <div class="story-lang-select">
          <%= (_("This Story is also available in %{other_languages}") %{other_languages: other_story_available_translations(@story, @story_locale)}).html_safe %>
        </div>
      </div>
    </div>
    <% end %>

    <%# STORY TITLE %>
    <div class="row">
      <div class="col">
        <div class="story-title">
          <h2><%= @story.title %></h2>
        </div>
      </div>
    </div>

    <%# STORY AUTHOR %>
    <div class="row">
      <div class="col-8">
        <div class="story-author">
          <p>
          <% if current_user == @story.author.user %>
            <%= link_to(_('You'), commoner_path(@story.commoner)) %>
          <% else %>
            <%= link_to(@story.author.name, commoner_path(@story.commoner)) %>
          <% end %>,
          <%= l(@story.created_at.to_date, format: :long) %>
          </p>
        </div>
      </div>
      <div class="col-4 text-right">
        <% if can? :edit, @story %>
          <%= link_to fa_icon('edit'), edit_story_path(@story, story_locale: @story_locale), class: 'btn btn-info btn-sm' %>
        <% end %>
        <small class="text-muted">
          <%= link_to story_card_comments_link(@story), class: 'story-comments-link' do %>
            <%= fa_icon 'comment-o', class: 'story-comments-icon' %> <%= @story.comments.count %>
          <% end %>
        </small>
        <%= fa_icon 'share-alt lg', class: 'story-share-link' %>
      </div>
    </div>

    <%# STORY PLACE %>
    <div class="row">
      <div class="col">
        <div class="story-place">
          <%= fa_icon('map-marker', text: @story.place) %>
        </div>
      </div>
    </div>

    <%# STORY CONTENT %>
    <div class="row">
      <div class="col">
        <div class="story-content">
          <%= @story.content.html_safe %>
        </div>
      </div>
    </div>

    <% end %>

    <%# STORY TAGS %>
    <% if @story.tags.any? %>
    <div class="row">
      <div class="col">
        <hr>
        <p class="story-tags">
          <% @story.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag), class: 'btn btn-sm btn-light' %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>

  </div>
</div>

<%= render('comments/new', story: @story, comment: @comment) if user_signed_in? %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <hr>
    <h3 id="comments-anchor" class="red-title text-left"><%= @comments.count %> <%= n_('Comment', 'Comments', @comments.count) %></h3>
    <%= render 'comments/list', comments: @comments %>
  </div>
</div>
