<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <% Globalize.with_locale(@story_locale) do %>

    <%# Language selection %>
    <% if @story.available_translations.length > 1 && @story.has_translations_besides(@story_locale) %>
    <div class="row">
      <div class="col">
        <div class="story-lang-select">
          <%= (_("This Story is also available in %{other_languages}") %{other_languages: other_story_available_translations(@story, @story_locale)}).html_safe %>
        </div>
      </div>
    </div>
    <% end %>

    <%# STORY TITLE %>
    <div class="row">
      <div class="col">
        <div class="story-title">
          <h2><%= @story.title %></h2>
        </div>
      </div>
    </div>

    <%# STORY AUTHOR %>
    <div class="row">
      <div class="col">
        <div class="story-author">
          <p>
          <% if current_user == @story.author.user %>
            <%= link_to(_('You'), commoner_path(@story.commoner)) %>
          <% else %>
            <%= link_to(@story.author.name, commoner_path(@story.commoner)) %>
          <% end %>,
          <%= l(@story.created_at.to_date, format: :long) %>
          <% if can? :edit, @story %>
            (<%= link_to _('Edit this Story'), edit_story_path(@story, story_locale: @story_locale) %>)
          <% end %>
          </p>
        </div>
      </div>
    </div>

    <%# STORY PLACE %>
    <div class="row">
      <div class="col">
        <div class="story-place">
          <%= fa_icon('map-marker', text: @story.place) %>
        </div>
      </div>
    </div>

    <%# STORY CONTENT %>
    <div class="row">
      <div class="col">
        <div class="story-content">
          <%= @story.content.html_safe %>
        </div>
      </div>
    </div>

    <% end %>

    <%# STORY TAGS %>
    <div class="row">
      <div class="col">
        <hr>
        <p class="story-tags">
          <% @story.tags.each do |tag| %>
          <%= link_to tag.name, '#', class: 'btn btn-sm btn-light' %>
          <% end %>
        </p>
      </div>
    </div>

  </div>
</div>
