<%= content_for :open_graph_tags do %>
<!-- OpenGraph tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content='<%= @tag.name %> | Commonfare' />
<meta property="og:description" content='<%= _("Stories with tag %{tag_name}") %{tag_name: @tag.name} %>' />
<meta property="og:url" content='<%= request.url %>' />
<!-- Twitter tags -->
<meta name="twitter:card" content="summary" />
<% end %>
<% content_for :title, (_("Content with tag %{tag_name}") %{tag_name: @tag.name}) %>
<% if @story_types_and_lists.any? %>
  <div class="row my-4">
    <div class="col">
      <div class="row mt-3">      
        <h3 class="d-inline mr-3"><%= _("Stories with tag") %></h3>
        <p class="cf-tags d-inline">
          <%= link_to @tag.name, tag_path(@tag) %>
        </p>
      </div>
      <%= render 'stories/types_and_lists', story_types_and_lists: @story_types_and_lists %>
    </div>
  </div>
<% end %>
<% if @listings.any? %>
  <div class="row my-4">
    <div class="col">
      <h3 class="d-inline mr-3"><%= _("Listings with tag") %></h3>
      <p class="cf-tags d-inline">
        <%= link_to @tag.name, tag_path(@tag) %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render @listings %>
    </div>
  </div>
<% end %>
