<%= content_for :title, _('Forgot password') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2 class="red-title"><%= s_('Forgot password page header|Forgot password?') %></h2>
    <p><%= _('No problem. Just enter your email address here and we will send you the link for creating a new one.') %></p>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true %>
      <%= f.button :submit, s_("Forgot password page button|Send me the instructions"), class: 'btn btn-cf btn-block' %>
    <% end %>
  </div>
</div>
