<div class="transaction">
  <% if basic_income_transaction?(transaction) %>
  <div class="transaction-header d-flex">
    <div class="p-2">
      <%= fa_icon('arrow-left', class: 'incoming-transaction') %>
    </div>
    <div class="p-2 target">
      <strong><%= _('Basic income') %></strong>
    </div>
    <div class="ml-auto p-2 amount">
      <%= number_to_currency(transaction.amount, precision: 6, locale: I18n.locale, unit: "#{currency_code_for_transaction(transaction)} ", strip_insignificant_zeros: true) %>
    </div>
  </div>
  <% else %>
  <div class="transaction-header d-flex align-items-center" data-toggle="collapse" data-target="#collapseTransaction-<%= transaction.id %>" aria-expanded="false" aria-controls="collapseTransaction-<%= transaction.id %>">
    <% if outgoing_transaction?(transaction) %>
    <div class="p-2">
      <%= fa_icon('arrow-right', class: 'outgoing-transaction') %>
    </div>
    <div class="p-2 target">
      <%= (_('Given to <strong>%{name}</strong>') %{name: transaction.to_wallet.holder.name}).html_safe %>
    </div>
    <% elsif incoming_transaction?(transaction) %>
    <div class="p-2">
      <%= fa_icon('arrow-left', class: 'incoming-transaction') %>
    </div>
    <div class="p-2 target">
      <%= (_('Received from <strong>%{name}</strong>') %{name: transaction.from_wallet.holder.name}).html_safe %>
    </div>
    <% end %>
    <div class="ml-auto p-2 amount">
      <%= number_to_currency(transaction.amount, precision: 6, locale: I18n.locale, unit: "#{currency_code_for_transaction(transaction)} ", strip_insignificant_zeros: true) %>
    </div>
  </div>
  <div class="transaction-details collapse" id="collapseTransaction-<%= transaction.id %>">
    <div class="transaction-timestamp text-muted moment-long-date" data-server-date="<%= transaction.created_at %>">
      <%= l((transaction.created_at || Time.now.to_date), format: :long) %>
    </div>
    <div class="transaction-message">
      <%= message_for_transaction(transaction.message) %>
    </div>
    <div class="d-flex align-items-top pt-3 pb-2">
      <% if counterpart_for_transaction(transaction).persisted? %>
        <div class="transaction-counterpart">
          <%= link_to get_walletable_path(counterpart_for_transaction(transaction)) do %>
            <%= get_transaction_counterpart_fa_icon(transaction) %>
          <% end %>
        </div>
      <% end %>
      <% if can? :refund, transaction %>
      <div class="transaction-refund">
        <%= link_to '#' do %>
          <%= fa_icon('undo') %><%= link_to(_('Refund'), refund_commoner_transaction_path(transaction.from_wallet.walletable, transaction)) %>
        <% end %>
      </div>
      <% end %>
      <div class="transaction-collapse ml-auto" data-toggle="collapse" data-target="#collapseTransaction-<%= transaction.id %>">
        <%= fa_icon('caret-up') %>
      </div>
    </div>
  </div>
  <% end %>
</div>
