<div class="transaction">
  <div class="transaction-header d-flex align-items-center" data-toggle="collapse" data-target="#collapseTransaction-<%= transaction.id %>" aria-expanded="false" aria-controls="collapseTransaction-<%= transaction.id %>">
    <% if outgoing_transaction?(transaction) %>
    <div class="p-2">
      <%= fa_icon('arrow-right', class: 'outgoing-transaction') %>
    </div>
    <div class="p-2">
      <%= (_('Given to <strong>%{name}</strong>') %{name: transaction.to_wallet.holder.name}).html_safe %>
    </div>
    <% elsif incoming_transaction?(transaction) %>
    <div class="p-2">
      <%= fa_icon('arrow-left', class: 'incoming-transaction') %>
    </div>
    <div class="p-2">
      <%= (_('Received from <strong>%{name}</strong>') %{name: transaction.from_wallet.holder.name}).html_safe %>
    </div>
    <% end %>
    <div class="ml-auto p-2 amount">
      <%= number_to_currency(transaction.amount, precision: 6, locale: I18n.locale, unit: 'cc ') %>
    </div>
  </div>
  <div class="transaction-details collapse" id="collapseTransaction-<%= transaction.id %>">
    <div class="d-flex align-items-top">
      <div class="transaction-message">
        <%= message_for_transaction(transaction.message) %>
      </div>
      <div class="transaction-timestamp ml-auto">
        <%= l((transaction.created_at || Time.now.to_date), format: :long) %>
      </div>
    </div>
    <div class="d-flex align-items-top">
      <% if counterpart_for_transaction(transaction).persisted? %>
        <div class="transaction-counterpart">
          <%= link_to commoner_path(counterpart_for_transaction(transaction)) do %>
          <%= fa_icon('user fw', text: counterpart_for_transaction(transaction).name) %>
          <% end %>
        </div>
      <% end %>
      <div class="transaction-collapse ml-auto" data-toggle="collapse" data-target="#collapseTransaction-<%= transaction.id %>">
        <%= fa_icon('caret-up') %>
      </div>
    </div>
  </div>
</div>
