<%= content_for :title, s_('Title|Confirm transaction') %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1><%= s_('Title|Confirm transaction') %></h1>
    <div class="transaction-confirm-to">
      <small><%= _('Send to') %></small>
      <%# TODO: this will be _commoner partial %>
      <p><%= @transaction.to_wallet %></p>
    </div>
    <div class="transaction-confirm-amount">
      <small><%= _('Amount') %></small>
      <p><%= number_to_currency(@transaction.amount, precision: 6, locale: I18n.locale, unit: 'cc ') %></p>
    </div>
    <% unless @transaction.message.blank? %>
      <div class="transaction-confirm-message">
        <small><%= _('Message') %></small>
        <p><%= @transaction.message %></p>
      </div>
    <% end %>
    <%= simple_form_for(@transaction, url: commoner_transactions_path(@commoner)) do |f| %>
      <%= f.association :to_wallet, as: :hidden %>
      <%= f.input :amount, as: :hidden %>
      <%= f.input :message, as: :hidden %>
      <div class="row">
        <div class="col">
          <%= link_to s_('Button|Cancel'), :back, class: 'btn btn-outline-secondary btn-block' %>
        </div>
        <div class="col">
          <%= f.button :submit, s_('Button|Confirm'), class: 'btn btn-cf btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
