<%= content_for :title, s_('Title|All %{currency_name} transactions') %{currency_name: currency_name_for_wallet} %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="row bg-white pt-4 pb-2 mb-4">
      <div class="col">
        <h2>
          <% if @from_wallet.present? %>
            <%= s_('Title|Transactions with %{counterpart_name}') %{counterpart_name: @from_wallet.walletable.name} %>
          <% else %>
            <%= s_('Title|All %{currency_name} transactions') %{currency_name: currency_name_for_wallet} %>
          <% end %>
        </h2>
      </div>
    </div>
    <% @grouped_transactions.each do |date, transactions| %>
      <div class="transaction-date">
        <%= l(date, format: :long) %>
      </div>
      <% transactions.each do |transaction| %>
        <%= render 'transactions/transaction', transaction: transaction %>
      <% end %>
    <% end %>
  </div>
</div>
