<%= content_for :title, s_('Title|Send %{currency_name}') %{currency_name: currency_name_for_transaction} %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9 py-3 bg-white">
    <div>
      <%= link_to((_("%{icon} Back to %{currency_name} wallet") %{icon: fa_icon('chevron-left fw'), currency_name: currency_name_for_wallet}).html_safe, get_wallet_path(@wallet), class: 'btn btn-outline-cf btn-sm') %>
      <h1 class='mt-5'><%= s_('Title|Send %{currency_name}') %{currency_name: currency_name_for_transaction} %></h1>
      <p class="info-current-balance mb-5">
        <%= _('Current Balance') %>: <%= number_to_currency(@transaction.from_wallet.balance || 0, precision: 6, locale: I18n.locale, unit: "#{currency_code_for_transaction} ") %>
      </p>
    </div>
    <%= simple_form_for(@transaction, url: get_transaction_confirm_path) do |f| %>
      <%= f.error_notification %>
      <div class="form-row">
        <div class="col-sm-8">
          <%= f.association :to_wallet, required: false, placeholder: _('Bilbo Baggins'), label: _('Name of the commoner'), collection: [] %>
        </div>
        <div class="col-sm-4">
          <%= f.input :amount, required: false, placeholder: number_with_precision(42.314, precision: 3), label: (_('Amount (%{currency_code})') %{currency_code: currency_code_for_transaction}), :input_html => { value: number_with_precision(f.object.amount, precision: 6) } %>
        </div>
      </div>
      <%= f.input :message, required: false, placeholder: _('I like your stories!'), label: _('Message (optional)') %>
      <%= f.button :submit, s_('Button|Send'), class: 'btn btn-cf btn-block' %>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
  autosize($('#transaction_message'));

  // Select2 for wallet holders
  $('#transaction_to_wallet_id').select2({
    language: '<%= I18n.locale.to_s %>',
    ajax: {
      url: '<%= get_autocomplete_wallets_path %>',
      dataType: 'json',
      processResults: function (data) {
        return {
          results: data.wallets
        };
      }
    },
    minimumInputLength: 3,
    theme: 'bootstrap',
    placeholder: "<%= _('Bilbo Baggins') %>",
    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    templateResult: function (wallet) {
      return '<div class="media">' +
      '<img class="rounded-circle mr-3" height="28" src="' + wallet.avatar_url + '" alt="avatar_url"/>' +
      '<div class="media-body pt-1">' + wallet.text + '</div>' +
      '</div>';
    }
  });
  $('#transaction_to_wallet_id').on('select2:select', function (e) {
    // console.log(data.text);
  });
</script>
<% end %>
