<%= content_for :title, s_('Title|Top up %{currency_name}') %{currency_name: currency_name_for_transaction} %>
<div class="row justify-content-center top_up-container">
  <div class="col-lg-7 col-md-9 mt-4">
    <h1 class='mb-4'><%= s_('Title|Top up %{currency_name}') %{currency_name: currency_name_for_transaction} %></h1>
    <dl class="row">
      <dt class="col-sm-1"><%= _('From') %></dt>
      <dd class="col-sm-11"><%= @transaction.from_wallet.walletable.name %></dd>
      <dt class="col-sm-1"><%= _('To') %></dt>
      <dd class="col-sm-11"><%= @transaction.to_wallet.walletable.name %></dd>
    </dl>
    <%= simple_form_for(@transaction, url: confirm_top_up_commoner_transactions_path(@commoner, { to_wallet_id: @transaction.to_wallet.id, currency: @currency.id })) do |f| %>
      <%= f.error_notification %>
      <%= f.association :to_wallet, as: :hidden %>
      <div class="form-row">
        <div class="col">
          <%= f.input :amount, required: false, autofocus: true, placeholder: number_with_precision(42.314, precision: 3), label: (_('Amount (%{currency_code})') %{currency_code: currency_code_for_transaction}), :input_html => { value: number_with_precision(f.object.amount, precision: 2) } %>
        </div>
      </div>
      <%= f.input :message, as: :hidden %>
      <%= f.button :submit, s_('Button|Continue'), class: 'btn btn-cf btn-block' %>
    <% end %>
  </div>
</div>
