<%# see http://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ %>
<footer class="footer">
  <div class="container">
    <div class="row justify-content-between pt-4">
      <div class="col-6">
        <p class="footer-text">
          <%= s_('Footer|Commonfare is a new idea of welfare addressing the needs derived from precarity conditions: guaranteed income and access to common goods like housing, education, wealth, knowledge, mobility, sociality. Commonfare is for, with and by people.') %>
        </p>
        <p>
          <%= s_('Footer| For info write at') %>
          <%= mail_to "info@commonfare.net" %>
        </p>
      </div>
      <div class="col-4">
        <h6>
          <%= s_('Footer|Language').upcase %>
        </h6>
        <ul class="language">
          <% I18n.available_locales.each do |locale| %>
            <li>
              <%= link_to localised_language_name(locale, locale).capitalize, { locale: locale, story_locale: @story_locale, story_builder: @story_builder, filter: @filter, q: @q }, class: (locale == I18n.locale ? 'active' : '') %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small><%= link_to s_("Footer|About"), page_path(id: 'about') %></small> |
        <small><%= link_to s_("Footer|Terms of Service"), page_path(id: 'tos') %></small> |
        <small><%= link_to s_("Footer|Privacy"), page_path(id: 'privacy') %></small>
      </div>
    </div>
  </div>
</footer>

<%= content_for :scripts do %>
<script type="text/javascript">
  $(".footer").inViewport(function(px) {
    // console.log( px ); // `px` represents the amount of visible height
    $('.app-fab--absolute').css('bottom', 'calc(1rem + ' + px + 'px)');
  }); // Here you can chain other jQuery methods to your selector
</script>
<% end %>
