<nav class="navbar navbar-expand-lg navbar-cf bg-cf">

  <%# The display: flex of form-inline makes the form disply in two lines %>
  <%# see https://getbootstrap.com/docs/4.0/components/forms/#inline-forms %>
  <%# Solution: use a grid to set the form?  %>
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--   <div class="d-block d-lg-none d-xl-none cf-search-form-container">
    <%= form_with url: search_path, local: true, method: :get, html: { class: 'form-inline my-lg-0' } do |form| %>
    <%= form.text_field :q, placeholder: _('Search'), data: { behavior: 'autocomplete' }, class: 'form-control mr-sm-2' %>
    <%= form.button fa_icon('search'), class: 'btn btn-cf' %>
    <% end %>
  </div> -->
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "logo.svg", height: 30 %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-story-links">
      <li class="nav-item active">
        <%= link_to s_('Navbar|Commoners Voices'), stories_path(filter: :commoners_voice), class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to s_('Navbar|Good Practices'), stories_path(filter: :good_practice), class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to s_('Navbar|Public Benefits'), stories_path(filter: :welfare_provision), class: 'nav-link' %>
      </li>
      <div class="navbar-cf-divider"></div>
      <li class="nav-item">
        <%= link_to s_('Navbar|About'), page_path(id: 'about'), class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item cf-search-form-container">
      <%= form_with url: search_path, local: true, method: :get, html: { class: 'form-inline my-2 my-lg-0' } do |form| %>
      <%= form.text_field :q, placeholder: _('Search'), data: { behavior: 'autocomplete' }, class: 'form-control mr-sm-2' %>
      <%= form.button fa_icon('search'), class: 'btn btn-cf my-sm-0' %>
      <% end %>
    </li>
    <li class="nav-item active d-block d-lg-none d-xl-none">
      <%= link_to s_('Navbar|Home'), root_path, class: 'nav-link'  %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to current_user.meta.name, commoner_path(current_user.meta), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to s_('Navbar|Logout'), destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>
    <% else %>
      <li class="nav-item ">
        <%= link_to(s_('Navbar|Login'), new_user_session_path, class: 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to s_('Navbar|Join'), new_user_registration_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= I18n.locale.to_s.upcase %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <% other_locales.each do |locale| %>
            <%= link_to "#{locale.to_s.upcase} - #{localised_language_name(locale, locale)}", { locale: locale, story_locale: @story_locale, filter: @filter, q: @q }, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  </div>

</nav>

<%= content_for :scripts do %>
  <script type="text/javascript">
    autocomplete('<%= I18n.locale %>');
  </script>
<% end %>
