<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2><%= _('Edit credentials') %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        <%= f.input :email, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes" %>
        <%= f.button :submit, _("Update"), class: 'btn-warning btn-block' %>
    <% end %>

    <hr>
    <h3>Cancel my account</h3>
    <p>
      Do you want to leave Commonfare.net?
      <br>
      <small><%= _('All your content will be permanetly deleted too.') %></small>
      <br>
      <%= link_to _("Yes please. Cancel my account"),
                  registration_path(resource_name),
                  class: 'text-danger',
                  data: { confirm: _("Are you sure?") },
                  method: :delete %>
    </p>
  </div>
</div>
