<%= content_for :title, _('Edit credentials') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2 class="red-title"><%= _('Edit credentials') %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        <h5 class="font-weight-bold"><%= _('Edit email') %></h5>
        <%= f.input :email, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <h5 class="font-weight-bold"><%= _('Edit password') %></h5>
        <%= f.input :password, autocomplete: "off", hint: s_("Edit credentials form|leave it blank if you don't want to change it"), required: false %>
        <%= f.input :password_confirmation, label: s_('Edit credentials form|Password confirmation'), required: false %>
        <%= f.input :current_password, label: s_('Edit credentials form|Current password'), hint: s_("Edit credentials form|we need your current password to confirm your changes") %>
        <%= render 'shared/back_and_save_buttons', f: f, cancel_path: nil %>
    <% end %>

    <hr>
    <p>
      <%= link_to _('Leave Commonfare.net...'), goodbye_path, class: 'text-danger' %>
    </p>
  </div>
</div>
