<% content_for :title, _('Join us') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2 class="red-title"><%= s_('Sign up page header|Become a Commoner') %></h2>
    <p class="text-center"><%= _("Already a Commoner?") %> <%= link_to _("Log in"), new_user_session_path %></p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password, hint: ((s_("Sign up page form hint|%{min_password_length} characters minimum") %{min_password_length: @minimum_password_length}) if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: s_('Sign up page form|Password Confirmation') %>
      <p>
        <small>
          <%= (_("By joining you agree to our %{tos} and %{privacy}.") %{
                tos: link_to(_('Terms of Service'), page_path(id: 'tos')),
                privacy: link_to(_('Privacy Policy'), page_path(id: 'privacy'))
                }
            ).html_safe %>
        </small>
      </p>
      <%= f.button :submit, s_('Sign up page button|Join Commonfare'), class: 'btn btn-cf btn-lg btn-block mb-3' %>
      <%= f.button :button, s_('Sign up page button|Join and create a group'), type: 'submit', name: 'create_group', value: 'true', class: 'btn btn-cf btn-lg btn-block mb-3' %>
    <% end %>
  </div>
</div>
